.index-sec {
  width: 100vw;
  .label{
    display: flex;
    align-items: center;
    margin-bottom: 3.2vw;;
    font-size: var(--fz16);
    font-weight: bold;
    color: var(--primary);
    &::before{
      content: '';
      display: inline-block;
      width: 4.267vw;
      height: 4.267vw;
      background-image: url("/thai-mts/normal/icon_flag_set.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 1.066vw;
    }
    &.nasdak::before{
      background-image: url("/thai-mts/normal/icon_flag_usa.png");
    }
    &.vietnam::before{
      background-image: url("/thai-mts/normal/icon_flag_vni.png");
    }
  }
  .slick-slide{
    &:first-of-type{
      border-left: none;
    }
     border-left: 1px solid var(--border);
  }
  .slick-list {
    overflow-x: hidden;
  }
  .slide-item {
    padding: 0 8px;
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
  }
}
.currency{
  .currency-box{
    padding-right: 1.8rem;
    .box{
      padding:.8rem;
      background-color: var(--bg-secondary);
      h3{
        margin-bottom: .8rem;
        color: var(--primary);
        font-size: var(--fz16);
      }
      .rate{
        color: var(--color-green);
        &.red{
          color: var(--color-red);
        }
      }
    }
    
  }
}
