.market-stock{
  .top-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .val-box{
      width: 50%;
      padding:1.2rem;
      background-color: var(--bg-dark);
      ul{
        li{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .text{
            font-size: var(--fz12);
            color: var(--text-tertiary);
          }
          .val{
            font-size: var(--fz14);
            color: var(--primary);
            .hight{
              color: var(--color-green);
            }
            .row{
              color: var(--color-red);
            }
          }
        }
      }
    }
  }
}
.apexcharts-xaxis-label tspan {
  font-weight: 400 !important;
}
.trading-box{
  padding: 1rem;
  background: linear-gradient(180deg,
  rgba(108, 172, 255, 0.20) 0%,
  rgba(108, 172, 255, 0.20) 40%,
  rgba(108, 172, 255, 0.20) 75%,
  rgba(252, 252, 252, 0.20) 100%);
}
.tab-bar.trading-type{
  .tab-list{
    background: var(--bg-primary);
    li{
      button{
        color: var(--text-tertiary);
        font-size: var(--fz16);
        font-weight: 500;
        &.on{
          background: var(--bg-button-buy);
          color: #fff;
        }
      }
      &:nth-child(2){
        button.on{
          background: var(--bg-button-sell);
        }
      }
      &:nth-child(3){
        button.on{
          background: var(--bg-button-chg);
          color:#7D5B00;
        }
      }
    } 
   
  }
}
.dark-mode{
  .trading-box{
    background: linear-gradient(180deg,
    rgba(35, 50, 76, 0.8) 0%,
    rgba(35, 50, 76, 0.8) 40%,
    rgba(34, 42, 57, 0.2) 75%,
    rgba(34, 42, 58, 0.2) 100%);
    }
  .tab-bar.trading-type{
    .tab-list{
      li:nth-child(3){
        button.on{
          color:#282A33;
        }
      }
    }
  }
}