@use './base';

:root{
  --fz10: 1.0rem;
  --fz11: 1.1rem;
  --fz12: 1.2rem;
  --fz13: 1.30rem;   
  --fz14: 1.40rem;   
  --fz15: 1.50rem;   
  --fz16: 1.60rem;   
  --fz17: 1.70rem;   
  --fz18: 1.80rem;   
  --fz19: 1.90rem;   
  --fz20: 2.00rem;   
  --fz21: 2.10rem;   
  --fz22: 2.20rem;   
  --fz23: 2.30rem;   
  --fz24: 2.40rem;   
  --fz25: 2.50rem;   
  --fz26: 2.60rem;   
  --fz27: 2.70rem;   
  --fz28: 2.80rem;   
  --fz29: 2.90rem;   
  --fz30: 3.00rem;   
  --fz31: 3.10rem;   
  --fz32: 3.20rem;   
  --fz33: 3.30rem;   
  --fz34: 3.40rem;   
  --fz35: 3.50rem;   
  --fz36: 3.60rem;   

  --primary:#344152;
  --bg-primary:#FCFCFC;
  --bg-secondary:#F5F7F9;
  --bg-secondary2:#ECEFF4;
  --bg-base:#ECEFF4;
  --bg-dark:#F5F7F9;
  --bg-sec:#FCFCFC;
  --nav-bg:#1C478E;
  --surface-df:#1C478E;
  --color-green:#008A1D;
  --color-red:#D92D20;
  --color-orange: #EB6311;
  --color-yellow: #B5940F;
  --txt:#435369;
  --border: #D4DBE6;
  --btn-filed-border : #D4DBE6;
  --btn-filed-bg : #ffffff;
  --text-tertiary: #6A7D97;
  --bg-rise:url("/thai-mts/normal/icon_rise.png");
  --bg-fall:url("/thai-mts/normal/icon_fall.png");
  --bg-flat:url("/thai-mts/normal/icon_hold_yellow.png");
  --bg-button-buy:#1774EB;
  --bg-button-sell:#CB5683;
  --bg-button-chg:#FFD015;
  --base-h:4.4rem;
  --shadow-default: 0px 1px 8px 1px rgba(52, 65, 82, 0.10),
                    0px 6px 8px 0px rgba(0, 67, 153, 0.10);
  --shadow-top:inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
}
body.mobile-frame {
  background: #dcdcdc; 
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  padding: 40px;
}

.mobile-content {
  width: 375px;
  height: 100%;
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 0 12px black; 
  overflow: hidden;
}

body,html{
  font-size:10px;
  height: 100vh;
}
.wrap{
  // max-width:375px;
  margin:0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-base);
  section{
    margin-bottom: 1.4rem;
    padding:1.8rem 1rem; 
    background-color: var(--bg-sec);
    .sec-tit{
      margin-bottom: 1.8rem;
      color: var(--primary);
      font-size: var(--fz20);
    }
    .tit-area{
      margin-bottom: 1.8rem;
      .sec-tit{
        margin-bottom: 0;
      }
      .sub-tit{
        color: var(--txt);
        font-size: var(--fz14);
      }
    }
  }
  .slick-prev,.slick-next{
    content: '';
  }  
}
.switch-box{
  display: flex;
  justify-content: flex-end;
}

.txt-rise{
  color: var(--color-green);
}
.txt-fall{
  color: var(--color-red);
}
.txt-flat{
  color: var(--color-yellow);
}