.tab-bar{
  margin-bottom: 1.6rem;
  .tab-list{
    height: 4.4rem;
    display: flex;
    padding: 0 .8rem;
    align-items: center;
    justify-content:center;
    border-radius: 3rem;
    background: var(--bg-secondary2);
    li{
      text-align: center;
      flex: 1;
      button{
        width: 100%;
        height: 100%;
        padding: .8rem;
        color: var(--text-tertiary);
        font-size: var(--fz14);
        &.on{
          width: 100%;
          border-radius: 3rem;
          background: var(--surface-df);
          color: #fff;
        }
      }
    } 
   
  }
}
.index-vals{
  .index-main{
    display: block;
    &.fz14{
      font-size:var(--fz14) !important;
    }
    &.fz16{
      font-size: var(--fz16)  !important;
    }
    &.bigger{
      font-size: var(--fz28)  !important;
      .price-arrow{
        width: 2.4rem;
        height: 2.4rem;
        background-size: 2.4rem;
      }
    }
  }
  font-size:var(--fz13);
  &.fall{
    color:var( --color-red);  
  }
  color:var( --color-green);
}
.price-arrow{
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image:var(--bg-rise);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 1.8rem;
  vertical-align: middle;
  margin-top: -.2rem;
  &.fall{
    background-image:var(--bg-fall);
  }
  &.flat{
    background-image:var(--bg-flat);
  }
}
.btns-fileds{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
  .filed-item{
    position: relative;
    width: 50%;
    height: var(--base-h);
    font-weight: bold;
    padding: 0 1.6rem;
    background:  var(--btn-filed-bg);
    text-align: left;
    border: 1px solid var(--btn-filed-border);
    border-radius: .8rem;
    font-size: var(--fz16);
    color:var(--primary);  
    .ico-arr{
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &.full{width: 100%;}
    &.w120{
      padding: 0 .8rem;
      width: 12.8rem;
      font-size: 1.4rem;
      .ico-arr{
        right: 1.2rem;
      }
    }
    
  }
}

.table-wrapper {
  position: relative;
  //  width: calc(100% + 2rem); 
  margin-left: -1rem;
  margin-right: -1rem;
  .scroll-indicator {
    position: absolute;
    top: -10%;
    z-index: 10;
    font-size: 18px;
    font-size: 3rem;
    color: var(--color-orange);
    cursor: pointer;
    &.left {
      left: 20%;
    }
    &.right {
      right: 0;
    }
  }

  .scroll-container {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
  }

  .scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}


.table-style{
  width: 100%;
  border-collapse: collapse;
  &.bd-none{
    th,td{
      border:none;
    }
  }
  th,td{
    border: 1px solid var(--border);
    background-color: var(--bg-sec);
    white-space: nowrap;
    color: var(--primary);
    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
    }
  }
  thead{
    th{
      font-size: var(--fz14);
      padding: .8rem;
      background-color: var(--bg-secondary2);
      border-left: 1px solid var(--border);
    }
  }
  tbody{
    td{
      padding:.8rem;
      font-size: var(--fz16);
      border-bottom: 1px solid var(--border);
      font-weight: 500;
      .flex{
        display: flex;
        align-items: center;
        gap:.4rem;
      }
      &.rise{
        color: var(--color-green);
      }
      &.fall{
        color: var(--color-red);
      }
      &.flat{
        color: var(--color-yellow);
      }

    }
  }
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
}

.checkbox-label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: transparent;
  border:2px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in-out;
}
.custom-checkbox svg {
  display: none;
  width: 1.6rem;
  height: 1.6rem;
}

/* checked 상태일 때 스타일 */
.checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #E66923; /* 주황색 */
  }

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox svg {
  display: block;
  fill: white;
}
.title {
  font-weight: 500;
  color: var(--primary);
}

.date-container{
  display: flex;
  align-items: center;
  gap:.4rem;
  font-size: var(--fz18);
  input{
    width: 9.9rem;
    height: var(--base-h);
    border: 1px solid var(--border);
    border-radius:.8rem;
    padding:.8rem;
    color: var(--primary);
    font-size: var(--fz16);
    font-weight: 500;
    background: var(--btn-filed-bg);
  }
}

.date-container{
  .react-datepicker__header{
    background:transparent;
    border-bottom: none;
  }
  .react-datepicker{
    width:218px;
    font-size: 1.2rem;
    background-color:var(--bg-primary);
    color: var(--primary);
  }
  h2.react-datepicker__current-month{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary);
  }
  .react-datepicker__navigation-icon{
    font-size: 10px;
    &::before{
      top:12px;
      border-width:1px 1px 0 0;
      border-color:var(--primary)
    }
  }
  .react-datepicker__navigation-icon--previous::before{
      right: 0;
  }
  .react-datepicker__navigation-icon--next::before{
    left: 0;
  }
  .react-datepicker__day{
    width:26px;
    padding: .4rem;
    font-size: var(--fz16);
    box-sizing: border-box;
  }
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    color: var(--primary);
  }
  .react-datepicker__day--selected{
     background-color:var(--color-orange);
     color: #fff;
  }
}