.index-vals{
  .index-main{
    display: block;
    padding-left: 4.267vw;
    background-image: var(--bg-rise);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 4.267vw;
   
    &.fz14{
      font-size:var(--fz14) !important;
    }
    &.fz16{
      font-size: var(--fz16)  !important;
    }
  }
  font-size: 3.2vw;
  &.fall{
    color:var( --color-red);  
    .index-main{
      background-image: var(--bg-fall);
    }
  }
  color:var( --color-green);
}
